
.sousligne{
	text-decoration:underline;
}

input{
    border-color:yellow;
    color:#000080;
    }

.img{
    background-color:#C0C0C0;
    
}

textarea{
    width: 300px;
    height: 5em;
}

#message{
	border-color:yellow;
	
}

.titre{
    color:#8A2BE2;
    width:bolder;  
}

body{
    background-image:url("../media/questions.jpg");
    color:MidnightBLue;
    width:bolder; 
    text-decoration:overline:white;
}

label{
	display: block;
	width: 150px;
	float: left;
}

.sexe{
	display: inline;
	width: 150px;
	float: left;
}
