
}
input{
    border-color:yellow;
    color:#000080;
    }
.img{
    background-color:#C0C0C0;
    
}

.titre{
    color:#8A2BE2;
    width:bolder;  
}

body{
    background-image:url("../media/questions.jpg");
    color:yellow;
    width:bolder;
}

label{
	display: block;
	width: 150px;
	float: left;
}
