.taille{
    margin-left:100px;
}
input{
    border-color:yellow;
    color:#000080;
    }
.img{
    background-color:#C0C0C0;
    
}

.titre{
    color:#8A2BE2;
    
}
body{
    background-image:url("../media/questions.jpg");
}
