body{
	background-image:url("../media/menu-tropico.png");
	background-size:cover;
	font-family:arial;
}
.sommaire{
	background-color:yellowgreen;
	font-size:20px;
}
/*.sommaire{
	background-color:yellowgreen;
	font-size:x-large;
	color:red;
}*/
#pageprec{
	margin-left:10%;
	display:inline;
}
#pagesuiv{
	padding-left:50%;
	display:inline;
}
#tableaudlc{
	border:solid black;
	border-collapse:collapse;
	float:left;
	background-color:white;
	margin-top:15px;
	margin-bottom:10px;
}
th, td{
	border:solid black;
	border-collapse:collapse;
	text-align:center;
}
#titresommaire{
	padding-top:15px;
	text-align:center;
	font-size:35px;
}
.article{
	background-color:white;
	padding-top:1.5%;
	padding-bottom:1.5%;
	border: solid black;
}
.article2{
	position:relative;
	left:20px;
}
footer{
	text-align:center;
	margin-left:30%;
	margin-right:30%;
	margin-bottom:20px;
	padding-bottom:10px;
	padding-top:10px;
	color:red;
	font-size:large;
	border:solid black;
	background-color:white;
}
.boutonpos{
	width:275px;
	height:100px;
	font-size:xx-large;
}
.boutonnav{
	margin-left:35%;
}
a:visited{
	color:blue;
}
a:active{
	color:red;
}
.sommaire{
	background-color:yellowgreen;
	font-size:x-large;
	color:red;
}
#revenir{
	font-size:xx-large;
	padding-left:5%
}