body{
	background-image:url("../media/menu-tropico.png");
	background-size:cover;
	font-family:arial;
}
.titre{
	font-size:75px;
	text-align:center;
	text-decoration:underline;
	background-color:yellowgreen;
}
ul{
	font-size:x-large;
	color:red;
}
.sommaireh{
	text-align:center;
}
.sommaire{
	background-color:#6D071A;
	width:100%;
}
.sommaireimg{
	height:300px;
	width:auto;
}
.sommairelgd{
    display: table-cell;
    vertical-align: bottom;
	font-size:xx-large;
}
#sommairelgd1{
	position:relative;
	left:-370px;
	top:-140px;
}
#sommairelgd2{
	position:relative;
	left:-210px;
	top:-160px;	
}
#sommairelgd3{
	position:relative;
	left:-140px;
	top:-110px;
	width:200px;
	height:auto;
}

a:visited{
	color:blue;
}
a:active{
	color:red;
}
.article{
	background-color:white;
	padding-left:10%;
	padding-right:10%;
	padding-top:1.5%;
	padding-bottom:1.5%;
	margin-left:5%;
	margin-right:5%;
	border: solid black;
}
#musique{
	text-decoration:none;
	font-size:22px;
}
footer{
	text-align:center;
	margin-left:30%;
	margin-right:30%;
	margin-bottom:20px;
	padding-bottom:10px;
	padding-top:10px;
	color:red;
	font-size:large;
	border:solid black;
	background-color:white;
}
figure {
    display: inline;
}
figcaption {
    padding-left: 4px;
}
#aujourdhui{
	position:absolute;
	top:15px;
	right:5%;
	color:darkgreen;
	font-size:22px;
}