body{
	background-image:url("../media/menu-tropico.png");
	background-size:cover;
}
.titresommaire{
	font-size:75px;
	text-align:center;
	text-decoration:underline;
	background-color:yellowgreen;
}
ul{
	font-size:x-large;
	color:red;
}
.sommaireimg{
	margin-left:6%;
	height:200px;
	width:auto;
}
.article{
	background-color:white;
	padding-left:10%;
	padding-right:10%;
	padding-top:1.5%;
	padding-bottom:1.5%;
	margin-left:5%;
	margin-right:5%;
}
#musique{
	text-decoration:none;
	font-size:22px;
}
footer{
	text-align:center;
	margin-left:30%;
	margin-right:30%;
	margin-bottom:20px;
	color:red;
	font-size:large;
}