body{
	background-image:url("../media/menu-tropico.png");
	background-size:cover;
	font-family:arial;
}
.titresommaire{
	font-size:75px;
	text-align:center;
	text-decoration:underline;
	background-color:yellowgreen;
}
ul{
	font-size:x-large;
	color:red;
}
.sommaireimg1{
	margin-left:15%;
	height:200px;
	width:auto;
}
.sommairelgd1{
	margin-left:15%;
	border:solid;
	border-color:red;
}
.sommaireimg2{
	margin-left:25%;
	height:200px;
	width:auto;
}
.sommairelgd2{
	margin-left:40%;
}
.sommaireimg3{
	margin-left:20%;
	height:200px;
	width:auto;
}
.sommairelgd3{
	margin-left:60%;
}
.article{
	background-color:white;
	padding-left:10%;
	padding-right:10%;
	padding-top:1.5%;
	padding-bottom:1.5%;
	margin-left:5%;
	margin-right:5%;
}
#musique{
	text-decoration:none;
	font-size:22px;
}
footer{
	text-align:center;
	margin-left:30%;
	margin-right:30%;
	margin-bottom:20px;
	color:red;
	font-size:large;
}